{{> header}}
<h1 style="text-align: center; padding-top: 5%">Currículo</h1>
<div style="display:flex; flex-direction:column; align-items:center">
 <img style="height:50%; width:50%;" src="https://cdn.discordapp.com/attachments/634833782909960192/955590708629217280/unknown.png">
 <img style="height:50%; width:50%;" src="https://cdn.discordapp.com/attachments/634833782909960192/955590784474808480/unknown.png">
<div>

