{{> header}}
<h1 style="text-align: center; padding-top: 5%">Disciplinas Matriculadas</h1>
<div style="padding-top:5%; display:flex; align-items:center; justify-content:center">
    <ul style="height:50vh; display:flex; flex-direction: column; font-size:25px; justify-content:space-around;">
        <li>IF68Q - Realidade Virtual - C91</li>
        <li>IF67I - Programação Web 2 - ES71</li>
        <li>SO37A - Manutenção de Software - ES71</li>
        <li>IF67K - Arquitetura de Software - ES71</li>
    </ul>
<div>
